/* @import url("./normalize.css"); */
@import url("./fonts.css");
@import url("./variables.css");
@import url("./header.css");
@import url("./main.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  margin: 89px 120px 0 120px;
}

.span-wrap {
  display: block;
}

.glow-bg {
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at calc(100% - 207px) 240px,
      rgba(109, 109, 255, 0.45) 0%,
      rgba(109, 109, 255, 0.2) 20%,
      rgba(17, 17, 17, 0.5) 40%
    ),
    linear-gradient(180deg, #0f1220 0%, #121528 100%);
  z-index: -1;
}
