:root {
  /** Fonts **/
  --font-heading: "ArchivoBlack", "Arial", sans-serif;
  --font-body: "OpenSans", "Times New Roman", serif;

  /** Colors **/
  --color-gray: #ffffff80;
  --color-white: #ffffff;
  --color-bg: #111111;

  --color-purple: #6d6dff;
  --color-cards: #1c1c1c;
}
